{% extends "base.html" %}
{% block content %}
	<div id="pic_container">
		<a href="/gallery">back to gallery</a>
		<h2>{{title}}</h2>
		<img id="pic" src="{{url}}"/>
		<div id="story">
			<h2>Story</h2>
			<p>{{ story }}</p>
		</div>
		<div id="comments">
			<h2>Comments/Additions</h2>
			{% for comment in comments %}
				<p id="comment"> {{ comment }}</p>
			{% end %}			
		<form action="/comment/{{ id }}" method="POST" enctype="multipart/form-data">
			<textarea rows="4" cols="50" name="comment" placeholder="Add a comment or additional information!"></textarea>
			<input type="submit">
		</form>	
		</div>
	</div>
{% end %}